



<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="dashboard" class="text-dark">Wedding Planner   <i class="fas fa-book ml-2"></i></a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="plan"><i class="fas fa-plus-circle"></i> Create Planner</a>
    <a class="p-2 text-dark" href="#">Location</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
    <a href="logout" class="btn btn-outline-danger font-weight-light ml-5 btn-sm">Logout</a>
    </nav>
</div>